<h1>Tweet Channels!</h1>
<h3>Click a tweet channel to let the fun begin</h3>

<table>
  <thead>
    <tr>
      <th>
        Channel name
      </th>
      <th>
        Description/Bio
      </th>
    </tr>
  <thead>

  <tbody>
  <% @tweet_sources.each do |ts| %>
    <tr>
      <td><%= link_to ts.name, ts %> </td>
      <td><%= ts.bio %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

