<h1><%= @tweet_source.name %>'s Tweets!</h1>
<p><%= @tweet_source.bio %> </p>

<table>
  <thead>
    <tr>
      <th>
        Tweet
      </th>
    </tr>
  <thead>

  <tbody>
  <% @tweet_source.tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.text %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'All channels', tweet_sources_path %>

